.navbar-burger {
  color: #ebecf0;
}

video.video {
  max-height: 400px;
  width: 100%;
}

/* img.image {
  display: block;
  max-height: 400px;
  max-width: 100%;
  width: auto;
} */

.image-grid {
  height: 100%;
}

.image-row {
  height: 100%;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.image-row img,
.image-row video {
  max-height: 400px;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 5px;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.image-column img,
.image-column video {
  max-height: 192px;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 5px;
}
